*{
    padding: 0;
    margin: 0;
    font-family:courier;
}
body{
    background-color:#f1f1f1;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  
}
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.myImg{
    margin:50px ;
    padding: 20px
}
h1{
    font-size:300%;
}

span{
    background-color :rgb(138, 120, 100);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.informations{
    text-align: center;
    margin-top: 40px;
}
.ay{
	width:40%;
}
a{
    text-decoration: none;
    color: black;
 
}
ul,ol{ 
    display: inline-block; 
    text-align: left; 
    margin: 20px;
}
h4 ,h5,h3{
    font-weight: 200px;
    font-size: 22px;
}
button {
    background-color: #4CAF50; 
    border: none;
    color: rgb(252, 252, 252);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }